/*!!!!!!!!!!! CSS for CREITG!!!!!!!!!!!!!*/


#main_container {
    width: 100%;
    margin: 0px auto;
}
/*--------CSS of header---------------*/
#header_maincontainer {
    height: 130px;
    min-width: 800px;
    max-width: 100%;
    background: url(/BIS/app_srv/tdc/gl/images/header_bck.png) repeat;
    padding-top: 5px;
    border-top: 4px solid #23408E;
    border-bottom: 4px solid #23408E;
    border: 1px solid black;
}


.mainformModel {
    width: 99%;
    border: 1px solid black;
    overflow: auto;
}

.mainform {
    width: 99%;
    border: 1px solid black;
    overflow: hidden;
}

.table1 {
    float: left;
    width: 33%;
}

.table2 {
    width: 30%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
}

.table3 {
    width: 33%;
    float: left;
}
/*.header_left1
{
float:left;
width:24%;

height:130px;
overflow:hidden;

}
.header_right1{
width:76%;
float:right;

height:130px;
margin-top:22px;
overflow:hidden;
}

.header_left2
{
float:left;
width:17%;

height:130px;
overflow:hidden;
margin-top:16px;
}
.header_right2{
width:83%;
float:right;
background:url(/BIS/app_srv/tdc/gl/images/goi_green.png) no-repeat;
height:130px;
margin-top:22px;
overflow:hidden;
}*/
/*--------CSS of menu---------------*/
#menu_maincontainer {
    min-width:800px;
    max-width:100%;
    background: url(/BIS/app_srv/tdc/gl/images/menu_bck.png) repeat-x;
    height: 49px;
   /* overflow: hidden;*/
   /* display:block;*/
}

#menu_container ul {
    padding: 15px;
    margin-top: 15px;
}

#menu_container ul li a:hover {
    color: rgb(0, 173, 255);
}

#main_content {
    width: 100%;
    text-align: justify;
    /*background: url(/BIS/app_srv/tdc/gl/images/middle_bck_final.png) repeat-x #ffffff;*/

    padding-top: 20px;
    /*overflow:hidden;*/

    font-size: 120%;
}

#main_middlecontent_reg {
    width: 100%;
    background: url(/BIS/app_srv/tdc/gl/images/footer.jpg)no-repeat;
    overflow: hidden;
    margin: 0px auto;
}

.more {
    margin-left: 20px;
    font-weight: bold;
    border: 1px solid black;
    padding: 2px 5px 2px 5px;
    background-color: #FFffff;
    font-size: 80%;
}

.button {
    border: 1px solid black;
    padding: 2px 20px 2px 20px;
    background-color: #FFffff;
    font-size: 98%;
}

.more ul li {
    list-style: url(/BIS/app_srv/tdc/gl/images/arrow.gif);
}

.product_list ul {
    margin-left: 20px;
}

.bullets ul {
    margin-left: 20px;
}

.bullets ul li {
    list-style: url(/BIS/app_srv/tdc/gl/images/bullet.gif);
    padding: 4px 6px 4px 10px;
}

.product_list ul li {
    list-style: url(/BIS/app_srv/tdc/gl/images/bullet.gif);
    border-bottom: 1px dotted #333333;
    padding: 4px 6px 4px 10px;
}

.products {
    width: 90%;
    margin: 10px 0px 10px 0px;
    overflow: hidden;
}

.products_right {
    float: right;
    width: 45%;
    background-color: #e8e8e8;
}

.products_left {
    float: left;
    width: 45%;
    background-color: #e8e8e8;
}

.smalltext {
    font-weight: bold;
    font-size: 100%;
    color: navy;
}

.smalltext a {
    color: maroon;
    text-decoration: none;
}

.smalltext a:hover {
    text-decoration: underline;
}
/*--------CSS of footer---------------*/
.footer_subcontainer {
    margin: 0px auto;
    width: 1000px;
}

.footer_container {
    bottom: 0;
    background-color: #014F80;
    min-width: 800px;
    max-width: 100%;
    color: white;
    height: 75px;
    font-size: 14px;
}

.footer_container_left {
    float: left;
    width: 15%;
    padding-top: 15px;
}

.footer_container_middle {
    float: left;
    width: 70%;
    padding-top: 18px;
    text-align: left;
}

.footer_container_right {
    float: left;
    width: 15%;
    padding-top: 7px;
}
/*--------end of CSS of footer---------------*/
.text {
    font: 13px bold calibri;
}

.login {
    width: 100%;
    overflow: hidden;
}

.login_left {
    float: left;
    width: 35%;
}

.login_right {
    float: right;
    width: 65%;
    padding-top: 25px;
}

.news_events {
    width: 100%;
    overflow: hidden;
}

.ne_left {
    float: left;
    width: 22%;
}

.ne_right {
    float: right;
    width: 68%;
}

.news_list {
    margin-top: 5px;
    width: 100%;
}

.news_list ul li {
    list-style: url(/BIS/app_srv/tdc/gl/images/bullet.gif);
    border-bottom: 1px dotted #cccccc;
    text-align: justify;
    float: left;
    font-weight: normal;
    padding-right: 10px;
}

.news_list ul {
    margin-left: 20px;
}
/*"""""""" Home Page""""""""*/
body {
    font-size: 14px;
    font-family: arial, verdana, geneva, helvetica, sans-serif;
    margin: 0px auto;
    text-align: center;
}

img {
    border: none;
}

#formattext {
    text-align: justify;
    line-height: 1.5em;
    margin-right: 15px;
}
/*"""""""" General""""""""*/
.filelinks {
    font-size: 10px;
    font-style: italic;
    text-decoration: underline;
    color: Blue;
    cursor: pointer;
}

.hyplinks {
    font-size: 13px;
    text-decoration: underline;
    color: Blue;
    cursor: pointer;
}

.loginhyplinks {
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    color: Blue;
    cursor: pointer;
}

.mandatoryTArea {
    height: 50px;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 250px;
    border: 1px solid #005050;
}



.mandatoryTmediumArea {
    height: 40px;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 135px;
    border: 1px solid #005050;
}

.mandatoryTsmallArea {
    height: 30px;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 80px;
    background-color: #FFDFFF;
}

.mandatoryTsmallMediumArea {
    height: 60px;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 180px;
    background-color: #FFDFFF;
}

.mandatoryTAreaLarge {
    height: 60px;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 120%;
    border: 1px solid #005050;
}

.mandatoryTAreasmallLarge {
    height: 80px;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 300px;
    border: 1px solid #005050;
}
/*""""""""Header""""""""*/
.seachbutton {
    float: right;
}

.searchboxdiv {
    margin: 0;
    height: 35px;
    width: 164px;
    float: left;
}

.searchbox {
    background: none;
    margin-left: 30px;
    margin-top: 0px;
    border: 0px;
}
/*"""""""" Tables""""""""*/
table {
    border-collapse: collapse;
}

table.general {
    width: 500px;
}

table #general {
    width: 500px;
}

table.header {
    width: 100%;
}

table.data {
    width: 100%;
    border: 1px solid #ccc;
    margin: .1em;
    table-layout: fixed;
    word-wrap: break-word;
    
}

.data tr td {
    padding: .2em;
    border: 1px rgb(180, 180, 180)solid;
    font-size: 13px;
    color: black;
    text-align: left;
    font-weight: normal;
}

.data th {
    padding: .2em;
    border: 1px rgb(180, 180, 180)solid;
    font-size: 13px;
    color: black;
    text-align: left;
    font-weight: bold;
}

.data thead th {
    color: #013554;
}

table.form {
    width: 100%;
    border-collapse: collapse;
}

.form td, th {
    font-size: 90%;
    font-weight: bold;
    color: black;
    text-align: left;
}

.form th {
    font-weight: bold;
    border: 0px;
    color: #741746;
}

.middle_content_left {
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
    overflow: hidden;
    text-align: left;
    /*margin-left:40px;*/
}

.middle_content_right {
    margin: 0px 0px 10px 0px;
    Padding-left: 20px;
    float: right;
    line-height: 2.5em;
    overflow: hidden;
    border-left: 1px solid #cccccc;
}

.helpTextFieldset {
    border: 1px dotted #005050;
}

.helpTextFieldset_regform {
    border: 1px dotted #005050;
    width: 60%;
    margin: 0px auto;
}

.middle_content {
    width: 100%;
    background-color: white;
    overflow: hidden;
}

.helptext {
    font-size: 75%;
    font-weight: bold;
    color: maroon;
    text-align: justify;
}

#space {
    line-height: 2em;
    padding: 10px;
}
/* default one */
/*td, th {
  background-color:#FFF;
  padding:.2em;
}*/
/* the border will be defined by the td tags */
td.BlueBorder, th.BlueBorder {
    background-color: #FFFFFF;
    border: 1px solid blue;
    padding: .2em;;
}

td.GreyBorder, th.GreyBorder {
    background-color: rgb(119, 36, 56);
    border: 1px solid #ccc;
    padding: .2em;
}

td.highlightedtext {
    background: #E6E6E6;
    border: 1px solid black;
    padding: .2em;
}

thead {
    background: rgb(181, 231, 255);
}
/*"""""""" Home Page""""""""*/
.projectheading {
    font-size: 12px;
    color: #0275CA;
}

.hyperlinkedtext a:link {
}
/*"""""""" For anchor tags""""""""*/
/*"""""""" Form labels""""""""*/
fieldset {
    border: 1px solid #666666;
}

.formheading {
    font-size: 110%;
    font-weight: bold;
    color: #0033CC;
}

.tableheading {
    font-size: 13px;
    font-weight: bold;
    /*color: #005050;*/
color: navy;
    text-align: left;
}

.msgheading {
    font-size: 16px;
    color: black;
    width: 100%;
}

.formlabels {
    font-size: 12px;
}

.contactlabels {
    font-size: 12px;
    color: rgb(255, 223, 251);
}

.alerttext {
    font-size: 90%;
    color: red;
    font-weight: normal;
}

#highlightback {
    background: white;
}
/*"""""""" Page labels""""""""*/
.pageheading {
    color: #0033CC;
    font-size: 120%;
    font-weight: bold;
    text-align: center;
}

.generaltext {
    font-size: 80%;
    line-height: 1.5em;
}

.navigation {
    font-size: 9px;
    background-color: #CCFFFF;
}

.logindetails {
    font-size: 78%;
    color: #0033CC;
}

#highlight {
    font-weight: bold;
    color: navy;
}

#highlightwhite {
    font-weight: bold;
    color: white;
}

#bigtext {
    font-size: 12px;
}
/*"""""""" Text Boxes""""""""*/


.smallTbox1 {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 100px;
    height: 23px;
}
.mediumTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 150px;
    height: 23px;
}
.generalTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 210px;
    height: 23px;
}

.smallmandatoryTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 85px;
    height: 23px;
    border: 1px solid #005050;
}

.smallmandatoryTbox1 {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 80px;
    height: 23px;
    background-color: #FFDFFF;
}


.labelText {
   
    font-size: 95%;
    font-weight: bold;
    color: maroon;
    text-align: justify;

    
}




.mediumlargemandatoryTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 280px;
    height: 23px;
    border: 1px solid #005050;
}

.largemandatoryTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 450px;
    height: 23px;
    border: 1px solid #005050;
}



.mediummandatoryTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 135px;
    height: 23px;
    border: 1px solid #005050;
}

.mandatoryAutoTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    /*background-color: #FFDFFF;*/
}

.autoTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 150px;
    height: 23px;
    background-color: #F4F4F4;
}

.readonlytxt {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 25px;
    background-color: #F4F4F4;
}

.transparentTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 210px;
    height: 23px;
    border-style: solid;
    border-width: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.transparentTbox1 {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 100px;
    height: 23px;
    text-align: center;
    border-style: solid;
    border-width: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.doubleborderTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 210px;
    height: 23px;
    border: 3px double #CCCCCC;
}

.dottedTbox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 210px;
    height: 23px;
    border: 2px dashed #D1C7AC;
}
/*""""""""Combo Boxes""""""""*/
select.limited-width {
    width: 200px;
    position: static;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
}

select.expanded-width {
    width: auto;
    position: relative;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
}

.generalCombo {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
}

.smallCombo {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 130px;
}

.smallCombo2 {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 100px;
}

.mediumCombo {
    width: 140px;
}

#largeCombo {
    width: 500px;
}
/*""""""""Text Area""""""""*/
.generalTarea {
    height: 70px;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 230px;
    border: 1px solid #005050;
}

.smallTarea {
    height: 50px;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 100px;
    border: 1px solid #005050;
}

#mediumTarea {
    width: 250px;
}

#largeTarea {
    width: 500px;
}
/*""""""""Buttons""""""""*/
.generalButton {
    height: 30px;
    width: 100px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #014F80;
}


/*.largeButton {
    height: 50px;
    width: 160px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #014F80;
}*/


.generalButton2 {
    height: 24px;
    width: 100px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #014F80;
}
.generalButtonForSaveAsDraft {
    height: 30px;
    width: 120px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #014F80;
}


.browseButton {
    height: 25px;
    width: 250px;
    font-size: 12px;
    color: #014F80;
    background-color: #FFDFFF;
    border-style: dotted;
    border-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    font-family: verdana, geneva, helvetica, arial, sans-serif;
}

.mediumbrowseButton {
    height: 25px;
    width: 200px;
    border: 1px solid black;
    padding: 4px;
    background-color: #eaeaea;
}

.mediumButton {
    height: 30px;
    width: 120px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #014F80;
}
.largeButton {
    height: 30px;
    width: 300px;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    color: #014F80;
}
#dottedButton {
    border-style: dotted;
    border-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: #FFDFFF;
}

#outsetButton {
    border-style: outset;
    /*border-width: 2px;*/

    background-color: #014F80;
    color: White;
}

.transparentTAreabox {
    font-family: verdana, geneva, helvetica, arial, sans-serif;
    font-size: 12px;
    width: 350px;
    height: 23px;
    border-style: solid;
    border-width: 0;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.results {
    position: relative;
    z-index: 1;
    background: white;
    width: 40%;
    height: 2em;
    /*overflow-y:scroll;  */

    overflow-x: hidden;
    font-size: 89%;
}

#mylist li:hover {
    background-color: Silver;
}

.ulstyles {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    margin: 0;
    padding: 4px 0px 2px 2px;
    cursor: default;
    font-size: 70%;
}

.lists {
    height: 15px;
    padding: 0px 0px 0px 0px;
}

.legendClass {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 14px;
    color: #014F80;
    font-weight: bold;
}


.ctrDropDownClick {
    font-size: 12px;
    width: 300px;
}
.ctrDropDownClick_addcomplaint {
    font-size: 12px;
    width: 400px;
}

.plainDropDown {
    width: 160px;
    font-size: 12px;
}
/*for new Forms*/
/* 
    Document   : home.css
    Created on : Apr 2, 2013, 11:04:22 AM
    Author     : chandan
    Description:
        Purpose of the stylesheet follows.
*/
/*.mainbox{
    margin:  auto;
    width: 700px;
    overflow: hidden;
}
.leftsubbox{
    width:335px;
    float: left;
    padding: 5px;
    height:20px;
}

.rightsubbox{
    width:335px;
    /*height:20px;
    float:left;
    padding: 5px;
    text-align: left ; 
}*/
/*--------------GOI -----------------*/
.mainbox {
    margin: 0px auto;
    width: 80%;
    overflow: hidden;
    font-size: 90%;
    font-weight: bold;
}

.mainbox {
    margin: 0px auto;
    width: 80%;
    overflow: hidden;
    font-size: 90%;
    font-weight: bold;
}


.mainbox_fielset {
    overflow: hidden;
    border: 1px solid black;
}

.mainbox_fielset_full {
    overflow: hidden;
    border: 1px black;
}

.leftsubbox {
    width: 30%;
    float: left;
    text-align: left;
    padding: 5px;
    height: 20px;
}


.leftsubboxPadZero {
    width: 30%;
    float: left;
    text-align: left;
    padding: 0px;
    height: 20px;
}

.arrow {
    width: 20%;
    float: left;
    padding: 10px;
    text-align: right;
    line-height: 1.5em;
}

.rightsubbox {
    width: 50%;
    /*height:20px;*/

    float: left;
    padding: 5px;
    text-align: left;
}
.rightsubbox1 {
    width: 20%;
    /*height:20px;*/

    float: left;
    padding: 5px;
    text-align: left;
}

.fieldsetleftsubbox {
    width: 41%;
    float: left;
    text-align: left;
    padding: 5px;
    height: 20px;
}

.fieldsetrightsubbox {
    width: 55%;
    /*height:20px;*/

    float: left;
    padding: 5px;
    text-align: left;
}

.textareabox {
    width: 70%;
    /*height:20px;*/

    float: left;
    padding: 5px;
    text-align: left;
}

.leftsmallbox {
    width: 20%;
    float: left;
    text-align: left;
    padding-top: 25px;
    height: 20px;
}

.leftbox {
    width: 52%;
    float: left;
    text-align: left;
}

.rightbox {
    width: 40%;
    float: left;
    text-align: left;
    padding: 1px;
}

.leftsub {
    width: 10%;
    float: left;
    padding: 10px;
    font-size: 13px;
}

.rightsub {
    width: 30%;
    float: left;
}
/*css added for form design*/
.form_incontainer {
    width: 70%;
    overflow: hidden;
}

.left_incontainer {
    width: 44%;
    float: left;
}

.right_incontainer {
    width: 56%;
    float: right;
}

.nospace {
    padding-left: 1%;
}

.navigation {
    width: 100%;
    background-color: #e8e8e8;
    font-size: 120%;
}

.generaltext_midcont {
    font-size: 125%;
    line-height: 1.5em;
}
/* for AccordiAn */
#content {
    width: 100%;
    float: left;
}

#content p {
    /*line-height:18px;*/

    padding-left: 10px;
    font-size: 80%;
}

.credit #content-nav p {
    /*height:auto;*/

    line-height: 1em;
    /*padding-bottom:5px;*/

    padding-left: 10px;
    padding-right: 10px;
}

.credit #content-nav p a {
    color: #013554;
    background-image: none;
    display: inline;
    font-size: 90%;
    font-family: Arial;
}

.toggle {
    color: #013554;
    background-image: none;
    display: inline;
    font-weight: bold;
    font-family: Arial;
    text-decoration: none;
    font-size: 120%;
}

.togglehead {
    color: #0033cc;
    font-weight: bold;
    text-align: left;
}

#content-nav {
    border-width: 1px;
    border-style: solid;
    border-color: #c8c8c8;
}

#content-nav p {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #c8c8c8;
    width: 97%;
}

#content-nav p:first-child {
    border-top-width: 0px;
    /*border-bottom-width:1px;
    border-bottom-style:solid;
    border-bottom-color:#c8c8c8;*/
}

body.credit #content {
    /*padding:15px;*/
}

.horizontal_container {
    width: 99%;
}

.horizontal_container1 {
    width: 95%;
    padding: .4em;
    padding-top: 1em;
    margin: .4em auto;
    border-radius: .7em;
    -moz-border-radius: .7em;
    -webkit-border-radius: .7em;
    border: 1px solid #0033CC;
    text-align: justify;
    font-size: 99%;
}

.attachment {
    border-top: 1px solid rgb(165, 165, 255);
    padding-top: .4em;
    margin-top: .7em;
    overflow: hidden;
    font-size: 99%;
}

.attach {
    width: 25%;
    float: left;
    font-size: 97%;
}

.accordion_toggle {
    cursor: pointer;
    display: block;
    width: 100%;
    margin: .2em 0;
    /* background-color:#B5E7FF;*/

    text-decoration: none;
}

.accordion_content {
    overflow: hidden;
    width: 99.5%;
    text-align: justify;
}

#content-nav div.horizontal_container p {
    background: none;
    border: 0 none;
    font-size: small;
    font-weight: 400;
}

#content-nav div.horizontal_container p a {
    color: #933;
    font-size: small;
    text-decoration: none;
}
/*end of accordion*/
.newComMan {
    width: 30%;
    float: left;
}
.bullet2
{
       list-style:url(/BIS/app_srv/tdc/gl/images/aroow2.gif);
    padding: 4px 6px 4px 20px;
}


    .smallTboxTrans{
    font-family: verdana,geneva,helvetica,arial,sans-serif;
    font-size: 12px;
    height: 23px;
    width: 98%;
    border-width:0;
    }

.leftsubdiv {
    width: 45%;
    float: left;
    text-align: left;
    padding: 5px;
    height: 20px;
}

.rightsubdiv {
    width: 40%;
    /*height:20px;*/

    float: left;
    padding: 5px;
    text-align: left;
}

/*--------Added for report---------------*/
table.list {
  background-color:#FFFFFF;
  width:100%;
  border:1.5px  #000000;
  border-collapse:collapse;
  margin:0em;
}
.list td,th {
 padding: 0em; 
 border: 1px #cccccc solid; 
font-size:11px;
}
.list th{
color:white;
  padding:.5em;
  margin:.5em;
}
.list thead{
 background-color: rgb(153,255,153);
  padding:.5em;
  margin:.5em;
}
.VerdanaMediumBlack {
	 FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}


.sectionHeadingReport {
  FONT-WEIGHT: bold; FONT-SIZE: 13pt; font-style:italic; COLOR: black; 
  height: 30px;
  font-size: 15px;
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: rgb(181,231,255);
}

.tableHeadingReport {
	FONT-WEIGHT: bold; FONT-SIZE: 7pt; font-style:normal; COLOR: navy; 
  FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: rgb(235,233,230);
}

.ReportRow1 {
	font-size: 7pt;
	/*font-weight: bold;*/
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-indent: 1pt;
	background-color: rgb(238,245,240);
}

.ReportRow2 {
	font-size: 9pt;
	/*font-weight: bold;*/
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-indent: 1pt;
	background-color: White;
}
.tablerowlight {
	font-size: 9pt;
	/*font-weight: bold;*/
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-indent: 1pt;
	background-color: rgb(238,245,240);
}
 
.tablerowdark {
	font-size: 9pt;
	/*font-weight: bold;*/
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: none;
	text-indent: 1pt;
	background-color: #cbe2c5;
}