/* 
    Document   : action-message
    Created on : 21 Aug, 2013, 12:47:16 PM
    Author     : CDAC-49
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.errors {
    background-color:#FFCCCC;
    border:1px solid #CC0000;
    width:99%;
    font-family: verdana;
    font-size: 10;
    text-align: center;
    color: white;
    border-radius: 8px; 
}
.errors li{ 
    list-style: none; 
    color: rgb(140,60,15);
}

.welcome {
    background-color:#DDFFDD;
    border:1px solid #009900;
    width:99%;
    font-size: 10;
    text-align: center;
    border-radius: 8px;
}
.welcome li{ 
    list-style: none; 
}