#columnstrip{
    background: url("../images/ColumnStrip.jpg") no-repeat scroll 0 0 transparent;
    margin-left: 263px;
    top: -30px;
    width: 5px;
    height: 585px;
    position: absolute;
    margin-top: 10px;
}


#tabbed_box_1 {
    margin: 0px auto 0px auto;
    width:260px;
    height: 100%;
    position:absolute;
    top:110px;
}
.tabbed_box h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:23px;
    color:#ffffff;
    letter-spacing:-1px;
    margin-bottom:10px;
}
.tabbed_box h4 small {
    color:#e3e9ec;
    font-weight:normal;
    font-size:9px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    text-transform:uppercase;
    position:relative;
    top:-4px;
    left:6px;
    letter-spacing:0px;
}
.tabbed_area {
    border:0px solid #494e52;
    background-color:rgb(231,230,209);
    padding:8px;	
    /*background-image:url('../images/datatable.jpg');
    background-repeat: no-repeat;*/
    height: 400px;

}

ul.tabs {
    margin:0px; padding:0px;
    margin-top:5px;
    margin-bottom:6px;
}
ul.tabs li {
    list-style:none;
    display:inline;
}
ul.tabs li a {
    background-color: white;
    color: black;
    padding:8px 14px 8px 14px;
    text-decoration:none;
    font-size:9px;
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    border:1px solid #464c54;
    background-image:url('../images/tab_on.jpg');
    background-repeat:repeat-x;	 
    background-position:top;
    border-bottom: 1px solid #ffffff;
}
ul.tabs li a:hover {
    /*background-color:#2f343a;*/
    /*border-color:#2f343a;*/
}
ul.tabs li a.active {
    color:#ffebb5;
    border:1px solid #464c54; 
    background-image:url('../images/tab_off.jpg');
    font-family:Verdana, Arial, Helvetica, sans-serif;       
    background-repeat:repeat-x;
    background-position:bottom;	
}
#div44{
    top:10px; position:relative;
    color: rgb(60,25,10);
    font-family: futura;
    font-size: 15px; 
    font-weight:bold;
}
#div40{
    display: block;width:230px;
}

.la1{
    /*style=display:block;*/
    padding-right:25px;
}

#div50{
    left:25px; position:relative;
}
#div51{
    left:115px; position:absolute; top:0px; float:left;
}


#search_option{
    background-color: #FFFFFF;
    border-color: #EEEEFA;

    border-width: thin;
    float: left;
    height: 10px;
    left: 780px;
    padding-bottom: 18px;
    padding-left: 10px;
    padding-right: 145px;
    position: relative;
    top: -75px;
    display:none;
}

/*#container {
        
        margin: 0px auto;
        width: 1000px;
        height:768px;
         margin-top:20px;
}
#content_container {
        background-color: #F5D695;
        padding: 0px;
        text-align: justify;
        height: 550px;
        width: 1000px;
        position:relative;
        top:18px;
        
}*/

#main_content p{
    color:#0A2333;   
    text-align:justify; 
    width:650px; 
    font-weight:bold; 
    font-size:16px;
    margin: 0px; margin-top: 0px; padding:0px; position:relative; top:290px; left:310px;
}
#main_content1{
    margin: 0px; margin-top: 0px; padding:0px; position:absolute; top:30px; left:310px; padding-right: 40px;
}
#main_content1 p{
    color:#0A2333;   
    text-align:justify; 
    width:650px; 
    font-weight:bold; 
    font-size:16px;

}
#main_content1 li{
    color:#0A2333;   
    text-align:justify; 
    width:650px; 
    font-weight:bold; 
    font-size:16px;
}
/*#tempcontainer{
display:none;}*/

