

#header-wrapper {
    box-shadow: none;
}
#header {
    clear: both;
    margin: 0 auto;
    width: 100%;
}
#logo {
    color: #0082b0;
    margin: 0;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
    text-align: center;
}
#header img {
    box-shadow: none;
}
img {
/*    border-radius: 8px;*/
/*    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9) inset;*/
}
.hone {
    color: #ca6102;
    float: left !important;
    font-family: aldine401btbolditalicBdIt;
    font-size: 26px !important;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 6px;
}
.h2_header {
/*    letter-spacing: 1px;*/
    font-family: aldine401btbolditalicBdIt;
    font-style: italic;
    font-weight: bold;
    font-size: 35px !important;
    margin: 0;
    padding: 0;
/*    color: #ca6102;*/
    color: #bf5c00;
}
.hone_sub {
    /*color: #337ab7;*/
    color: #255987;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    margin-top: 5px;
}

#menu-wrapper {
    background: #404040 none repeat scroll 0 0;
    height: 36px;
    overflow: visible;
    position: relative;
    text-align: center;  
}

#menu-wrapper::after {
    content: "";
    left: 0;
    opacity: 1;
    position: absolute;
    top: 0;
    z-index: -1;
}
#menu {
    height: 20px;
    margin: 0 auto;
    padding: 0;
}
#menu ul {
    background: rgba(0, 0, 0, 0) url("/wbsl/images/brcrum.jpg") repeat scroll 0 0;
    line-height: 14px;
    list-style: outside none none;
    margin: 0;
    padding: 1px 0 0;
    text-align: left;
    
}
#menu li {
    border-left: 1px solid #fff;
    display: inline-block;
}
#menu li:first-child {
    border-left: medium none;
}
#menu a {
    border: medium none;
    color: #fff;
    display: block;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}
#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
    /*    color: #FFFFFF;*/
    color: rgb(255,207,185);
    /*    background: #ca6102;*/
    position: relative;
}
.mhupa_footer p {
    background: #404040 none  scroll 0 0;
    color: #fff;
    font-size: 15px;
   
}

.mhupa_footer {
    background: #404040 none repeat scroll 0 0;
    font-family: futura;
    height: 50px;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
}